.company {
}
.company .inner {
  padding: 150px 0;
}
.company-info {
}

.company-wrap {
}
.company-wrap h2 {
}
.company-wrap p {
}
.company-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}
.company-box {
  grid-row: 1 / 3;
  /* grid-column: 1 / 3; */
}
.company-qa {
  padding: 50px;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  background: #0072ff;

  overflow: hidden;
}
.company-about {
  padding: 50px;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  background: url("../../images/cpn_bg.jpg") no-repeat center;
  background-size: cover;

  overflow: hidden;
}
@media screen and (max-width: 760px) {
  .company-box {
    grid-row: auto;
    grid-column: 1 / 3;
  }
}
